:root{
    --bs-dark-blue:#083B5F;
    --rbt-condensed: 'Roboto Condensed', sans-serif;
    --rbt-regular: 'Roboto', sans-serif;
    --popins-font: 'Poppins', sans-serif;
    --bs-primary: #0F75BD;
    --primary-color:#3a3a3a;
    --color-red:#AB0008;
    --bs-btn-color:#fff;
    --light-blue-color: #EEF8FF;
    --light-blue-color-500:#ECF7FF;
    --blue-color: #E9F6FF;
    --grey-color: #F5F5F5;
    --light-grey-color: #757575;
    --light-grey-color-100:#F6F6F6;
    --light-grey-color-600: #707070;
    --dark-color:#101010;
    --dark-color-600:#303030;
    --bs-gray-100:#F3F3F3;
    --heading3-color:#000;
    --border-light-blue: #A5DAFF;
    --inter-font: 'Inter', sans-serif;
}
body {
    font-family: var(--rbt-regular);
    color: var(--primary-color);
    font-size: 18px;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: all .3s ease;
}
a:hover {
    color: var(--bs-primary);
}
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

ol, ul {
    padding-left: 0;
  }
li {
    list-style: none;
}
p {
    line-height: 35px;
    margin-bottom: 0.5rem;
}
.rbt-condensed-font {
    font-family: var(--rbt-condensed);
}
h2 {
    color: rgba(var(--bs-white-rgb));
}
h3{
    font-weight: 700;
    color: var(--heading3-color);
    font-size: 40px;
}
h5 {
    text-transform: uppercase;
}
h5.normal-heading {
    color: var(--dark-color-600);
    font-weight: 500;
}
h5.normal-heading:after {
    display: none;
}
.h6, h6 {
    font-size: 1.375rem;
}
.p-6{
     padding: 2.35rem !important;
}
.py-7{
     padding-top: 4.3rem !important;
     padding-bottom: 4.3rem !important;
}
.p-bottom-4{
    padding-bottom: 2rem !important;
}
.w-90 {
    width: 90%;
}
.bs-gray-100 {
    background-color: var(--bs-gray-100);
}
.light-blue-color-500 {
    background-color: var(--light-blue-color-500);
}
.light-grey-color-100 {
    background-color: var(--light-grey-color-100);
}
.highlight-text {
    font-family: var(--rbt-condensed);
    font-weight: 700;
    font-size: 25px;
}
.border-light-blue {
    border-color: var(--border-light-blue) !important;
}
.primary-color{
    background-color: var(--bs-primary);
}
.dark-blue-color{
    background-color: var(--bs-dark-blue);
}
.carousel-caption .btn-primary:hover img{
    color: var(--bs-primary);
}  
.carousel-caption h6 {
    font-weight: 700;
    margin-bottom: 0;
}
.light-blue-color {
    background-color: var(--light-blue-color);
}
.text-red {
    color: var(--color-red);
}
.topbar {
    background-color:  var(--bs-dark-blue);
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
}
.topbar .top-txt {
    font-family: var(--rbt-condensed);
    letter-spacing: 2.7px;
}
.nav-link {
    font-weight: 500;
    color: var(--primary-color);
    font-size: 20px;
}
.nav-link:focus, .nav-link:hover {
    color: var(--bs-primary);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--bs-primary);
}
.nav-link .fa-chevron-down {
    font-size: 14px;
}

header .dropdown-toggle::after {
    display: none;
}
header .dropdown-menu {
    background-color: var(--bs-primary);
    color: #fff;
}
header .dropdown-menu .dropdown-item {
    color: #fff;
}
header .dropdown-item:focus, header .dropdown-item:hover {
    color: var(--primary-color);
}
.btn-primary {
    color: var(--bs-btn-color);
    --bs-btn-bg: #0F75BD;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.carousel-caption .badge{
    color: #707070;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.carousel-caption h5 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 12px;
}
.carousel-caption h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.carousel-indicators {
    margin-bottom: 0.2rem;
}
.carousel-indicators [data-bs-target] {
    opacity: 1;
    background-color: transparent;
    margin-right: 4px;
    margin-left: 4px;
}
.carousel-indicators button {
    position: relative;
    left: 0;
    right: 0;
}
.carousel-indicators button:after {
    content: "";
    border: 1px solid #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    left: -2px;
    top: -2px;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: #fff;
}
.carousel-control-prev, .carousel-control-next {
    display: none;
}
.carousel-caption {
    top: 50%;
    bottom: auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.who-we-are-section {
 position: relative;
}

.who-we-are-section::before {
    background: url(../images/bg-left.png) no-repeat left top;
    content: "";
    background-size: 100%;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}
.who-we-are-section::after {
    background: url(../images/bg-right.png) no-repeat left top;
    content: "";
    background-size: 100%;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}
.who-we-are-section h5{ 
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-brand {
    padding-bottom: 0;
} 
.quick-support {
 background: url(../images/bg-map.png) no-repeat left center;
}
.quick-support h3 {
    font-size: 40px;
    font-weight: 700;
}
h5 {
    color: var(--color-red);
    font-weight: normal;
    position: relative;
    font-size: 28px;
    display: inline-flex;
}
h5:after {
    background-color: var(--color-red);
    height: 2px;
    width: 57px;
    content: "";
    position: absolute;
    top: 50%;
    right: -62px;
}
h5.h-white-line:after {
    background-color: rgba(var(--bs-white-rgb));
}
.quick-support::before {
    background: url(../images/bg-left.png) no-repeat left top;
    content: "";
    background-size: 100%;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}
.icon-bg {
    background-color: var(--blue-color);
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 0px 0px var(--bs-primary);
    -moz-box-shadow: 3px 3px 0px 0px var(--bs-primary);
    box-shadow: 3px 3px 0px 0px var(--bs-primary);
    width: 52px;
    height: 52px;
}
.icon-bg i {
    color: var(--bs-primary);
    font-size: 22px;
}
.get-in-touch h6 {
    font-size: 20px;
    color: var(--bs-primary);
    margin-left: 20px;
    margin-bottom: 0;
}
.get-in-touch-form {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.16);
}
.get-in-touch-form form {
    margin-top: 36px;
}
.get-in-touch-form h5 {
    font-size: 28px;
    font-weight: 700;
    color: var(--bs-heading-color);
}
.get-in-touch-form h5:after{
    display: none;
}
.get-in-touch-form form input {
    height: 64px;
    padding: 0 20px;
}
.get-in-touch-form form input, .get-in-touch-form form textarea {
    background-color: var(--grey-color);
    padding: 20px;
}
.get-in-touch-form form input::placeholder, .get-in-touch-form form textarea::placeholder{
    font-style: italic;
    color: var(--light-grey-color);
}
.btn:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.send-message-btn {
    font-weight: 500;
    font-size: 20px;
    padding: 13px 0;
}
.our-pro-bg {
    background: url(../images/polythene-sheets.jpg) no-repeat left top;
    background-size: cover;
    background-color: var(--dark-color);
}
.our-pro-bg-right {
    background-color: var(--dark-color);
    position: relative;
}
.our-pro-bg-right h5 {
    bottom: 47px;
}
footer {
    background-color: var(--primary-color);
    color: #fff;
    border-top: 7px solid var(--color-red);
}
footer .social-media-bg {
    position: relative;
    width: 38px;
    height: 39px;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    margin-right: 0.8438rem;
    text-decoration: none;
}
footer .social-media-bg::before {
    background: url(../images/social-icon-bg.png) no-repeat left top;
    content: "";
    width: 38px;
    height: 39px;
    filter: brightness(0.4);
    transition: all .3s ease;
    position: absolute;
}
footer .social-media-bg a {
    display: inline-flex;
    text-decoration: none;
}
footer .social-media-bg .fa-brands {
    color: #fff;
    position: relative;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    transition: all .3s ease;
    text-decoration: none;
  }
  footer .social-media-bg:hover .fa-brands {
    color: var(--bs-primary);
    text-decoration: none;
  }
  footer .social-media-bg:hover a {
    text-decoration: none;
  }
footer .social-media-bg:hover::before {
    filter: brightness(1);
}
footer ul {
    margin-top: 1rem;
}
footer ul li {
    line-height: 45px;
}
footer h6 {
    position: relative;
    padding-bottom: 15px;
    font-size: 24px;
}
footer h6::after {
    background-color: var(--bs-primary);
    content: "";
    height: 7px;
    display: inline-flex;
    width: 40px;
    bottom: 0;
    left: 0;
    position: absolute;
}
.contact-info li {
    display: flex;
}
.contact-info .contact-info-inner{
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    line-height: 30px;
}
.contact-info li i {
    margin-right: 12px;
    color: var(--bs-primary);
    font-size: 24px;
}
.contact-info {
    margin-top: 1rem;
}
footer .footer-bottom{
    background-color: var(--bs-dark-blue);
    color: var(--bs-btn-color);
    padding: 10px 0;
    align-items: center;
    display: flex;
}

.client-logo-section {
    height: 180px;
    padding: 60px 0;
}
.client-logo-section .logo-area a {
    opacity: 0.5;
    transition: all .3s ease;
    margin: 0px 60px;
}
.client-logo-section .logo-area a:hover {
    opacity: 1;
}

.logo-area {
    overflow: hidden;
}
.logo-area .slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
}
.logo-area .slider .logos {
    width: 100%;
    display: inline-block;
}
.logo-area .slider .logos .fab {
    width: calc(100% / 5);
    
}
@keyframes slidein {
    from {
        transform: translate3d(100%, 0, 0);
   }
    to {
        transform: translate3d(-100%, 0, 0);
   }
}

.product-name h2{
    font-size: 80px;
    color: var(--grey-color);
    font-family: var(--popins-font);
    font-weight: 700;
    display: inline-flex;
    margin: 0px 60px;
    position: relative;
}
.product-name a:hover h2{
    color: var(--bs-primary);
    opacity: 0.5;
}

.product-name h2:after {
    content: "";
    background-color: var(--bs-primary);
    opacity: 0.3;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: absolute;
    right: -10%;
    top: 50%;
}
.btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.our-pro-bg-right h2 {
    font-family: var(--popins-font);    
    color: var(--dark-color);
    -webkit-text-fill-color: var(--dark-color); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--bs-primary);
}
.our-pro-bg-right ul li {
    margin-bottom: 40px;
}
.our-pro-bg-right ul li a{
    position: relative;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: inline-flex;
    align-items: center;
}
.our-pro-bg-right ul li a:hover {
    color: var(--bs-primary);
    -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
}
.our-pro-bg-right ul li a::before {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
}
.our-pro-bg-right ul li a:hover::before {
    background-color: #fff;
    height: 2px;
    width: 260px;
    content: "";
    position: absolute;
    top: 50%;
    left: -300px;
    opacity: 1;
}
.our-pro-bg-right ul li a i {
    color: var(--bs-primary);
    opacity: 0;
    font-size: 20px;
    margin-left: 10px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.our-pro-bg-right ul li a:hover i {
    opacity: 1;
}
/* .our-pro-bg-right ul li a:hover::after {
    font-family: "Font Awesome 6 Pro";
    content:"\f0da";
    position: absolute;
    top: 50%;
    right: 0;
    
} */
.three-pro-box {
    min-height: 235px;
}
.our-pro-bg-right h2 {
    font-size: 62px;
}
.industries-we-serve {
    background: url(../images/about-dots.png) no-repeat right 150px;

}
.industries-we-serve-box a .industries-text{
    transition: all .5s ease;
    height: 60px;
    
}
.industries-we-serve-box a:hover .industries-text{
    opacity: 1;
    height: 100%;
    background: linear-gradient(0deg, rgba(8,59,95,0.8) 0%, rgba(15,117,189,0.8) 100%);
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    color: #fff;
}
.industries-text p {
    opacity: 0;
    transition: all .5s ease;
    text-align: center;
}
.industries-we-serve-box a:hover .industries-text{
    display: flex;
    align-items: center;
}
.industries-we-serve-box a:hover .industries-text p {
    opacity: 1;
}
.industries-text {
    background: linear-gradient(0deg, var(--bs-primary)  0%, var(--bs-primary) 100%);
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    padding: 13px;
    border-radius: 0 0 8px 8px;
    margin: 0 auto;
  }
  .industries-text .position-heading {
    font-size: 16px;
    font-weight: 500;
  }
.feedback-section {
    background: url(../images/feedback-bg.png) no-repeat;
    background-size: cover;
}
.testimonial-text {
    position: relative;
}
.testimonial-text p {
    font-style: italic;
}
.inter-font {
    font-family: var(--inter-font);
}

.testimonial-text::before {
    content: "";
    background: url(../images/left-quote.png) no-repeat left top;
    width: 42px;
    height: 42px;
    display: block;
    margin-bottom: 10px;
}
.testimonial-text::after {
    content: "";
    background: url(../images/left-quote.png) no-repeat right bottom;
    transform: rotate(180deg);
    width: 42px;
    height: 42px;
    display: block;
    margin-left: auto;
    margin-top: 10px;
}
.owl-dot {
    position: relative;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}
.owl-theme .owl-dots .owl-dot span {
    width: 14px;
  height: 14px;
  margin: 5px;
  background: transparent;
  border: 1px solid #fff;
}
.three-pro-quality p {
    font-size: 16px; 
    line-height: 30px;
}
.banner-area {
    position: relative;
}
.banner-heading {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    bottom: auto;
}
.bread-crumbs {
    background-color: rgba(var(--bs-white-rgb));
    border-radius: 5px 5px 0 0;
    padding: 10px 30px;
    left: 50%;
    -ms-transform: translate(-50%, 7%);
    transform: translate(-50%, 7%);
    bottom: -7%;
    position: absolute;
    text-transform: uppercase;
    font-weight: 500;
    min-width: 300px;
}
.bread-crumbs a {
    color: var(--bs-breadcrumb-item-active-color);
}
.breadcrumb .breadcrumb-item.active {
    font-weight: 500;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, "-");
}
.company-profile-section {
    background: url(../images/about-dots.png) no-repeat 120px 0px;
}  
.column-left-box-border {
    border-left:1px solid var(--light-grey-color-600) ;
    position: relative;
}
.column-left-box-border:after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #fff;
    border: 1px solid var(--light-grey-color-600);
    width: 19px;
    height: 19px;
    border-radius: 50%;
    left: -10px;
}
.company-profile-section .column-left-box-border {
    min-height: 292px;
}
.company-stats {
    background: url(../images/stats-bg.png) no-repeat center center;
    background-size: cover;
}
.pro-text {
    font-size: 30px;
    font-weight: bold;
}
.pro-count .display-1 {
    line-height: 0.8;
}
.chairman-block .our-pro-bg-right {
    height: 100%;
}
.chairman-block .our-pro-bg-right h5 {
    bottom: 0;
}
.applications-features-section {
    background: linear-gradient(0deg, rgba(8,59,95,0.9), rgba(8,59,95,0.9)), url(../images/shrink-film-bg.png) no-repeat center center;
    background-size: cover;
}
ul.company-icon {
    padding-left: 1.5rem;
}
ul.company-icon li {
    position: relative;
    font-weight: 500;
    line-height: 48px;
}
ul.company-icon li {
    list-style-image: url(../images/protect-plast-icon.png);
    padding-left: 20px;
}
.other-products .industries-we-serve-box a {
    pointer-events: none;
}
.accordion-item:first-of-type .accordion-button {
    border-radius: 35px 35px 0 0;
}
.accordion-button:not(.collapsed) {
    background-color: transparent;
}
.accordion-item:last-of-type {
    border-radius: 35px;    
}
.accordion-button:not(.collapsed) {
    box-shadow: none;
}
.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid #f5f5f5;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.16);
}
.accordion-button {
    background-color: transparent;
}
.accordion-body {
    padding: 20px 50px;
    padding-top: 20px;
}
.accordion-header .accordion-button h5 {
    margin-left: 15px;
}
.accordion-button::after {
    background-image: url(../images/arrow-icon-down.svg);
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../images/arrow-icon-down.svg);
}
@media (min-width: 768px){
.navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 1.56rem;
    padding-left: 1.56rem;
}
.carousel-caption h5 {
    font-size: 18px;
}
.carousel-caption h2 {
    font-size: 36px;
}
.who-we-are-section::before, .who-we-are-section::after, .quick-support:before {
    width: 618px;
}
.our-pro-bg-right h2{
    font-size: 76px;
}
}
@media (min-width: 992px) and (max-width: 1199px){
    .three-pro-box {
        min-height: 435px;
      }
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1480px;
    }
    h2 {
        font-size: 66px;
    }
    .carousel-caption h2 {
        font-size: 66px;
    }
    .carousel-caption p {
        font-size: 20px;
    }
    .btn-primary {
        font-size: 18px;
        padding: 10px 40px;
        color: #fff;
        font-weight: 500;
    }
    .btn-primary:hover {
        background-color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) !important;
        border: var(--bs-btn-border-width) solid var(--bs-primary);
        color: var(--bs-primary) !important;
    }
    .w-xl-90 {
        width: 90%;
    }
    .our-pro-bg-right h2{
        font-size: 76px;
        font-family: var(--popins-font);
    }
    .three-pro-quality {
        position: relative;
        margin-top: -50px;
        margin-bottom: 120px;
    }
   
    }
    /* media query end */